<div>
    <section id="home" class="parallax-section">
        <div class="container">
            <div class="row">

                <div class="col-md-offset-5 col-md-7 col-sm-12">
                    <div class="home-thumb">
                        <h1 class=" " >See who's at door.</h1>
                        <p class="  white-color" 
                            style="color:#ffff; font-weight:bold">The front door is where home
                            begins. When the door opens, it signals a warm welcome. And when it’s closed, it provides
                            security. Smart DoorBell work to make your front door even more secure.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>


