<template #alertContainer></template>
<br>

<form (ngSubmit)="onFilterSearch()"  >
  
  <div class="d-inline-block col-xs-12 col-12 col-md-3 form-group">
    <label for="exampleInputEmail1">Person Name</label>
    <input type="text" [(ngModel)] = "filter.userName" name="tag" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Enter Person to search">
  </div>

  <div class="d-inline-block col-xs-12 col-12 col-md-3 form-group">
    <label>Select Start Date:</label>
    <input type="text" [(ngModel)] = "filter.fromDate" name="fromDate" [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY, h:mm:ss a'}" placeholder="Start Date" class="form-control" bsDatepicker>

  </div>

  <div class="d-inline-block col-xs-12 col-12 col-md-3 form-group">
    <label>Select End Date:</label>
    <input type="text" [(ngModel)] = "filter.toDate"  name="toDate" [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY, h:mm:ss a'}" placeholder="End Date" class="form-control" bsDatepicker>
  </div>
  
  <button type="submit" class="btn btn-primary">Filter</button>

</form>

<div class="row">
  <!-- <div class="col-sm-4" *ngFor="let image of survilanceImages; let i = index">

    <div class="card">
      <img class="card-img-top" [id]="'image-'+image.src" (load)="makeCanvasRect(image)" [src]="image.src" style="display: none" alt="Card image cap" >
      <canvas [id]="'canvas-'+image.src" width="446" height="334"></canvas>
      <div class="card-body">
        <h5 class="card-title">27/06/2019</h5>
        <p class="card-text">Thursday 5:00pm</p>
        <p>Group: Family</p>
        <p class="card-text"><small class="text-muted">Tagged 27/06/2019</small></p>
      </div>
    </div>
  </div> -->

  <div class="col-sm-4" *ngFor="let image of dashBoardImages | keyvalue">

    <div class="card">
      <img class="card-img-top" [id]="'image-'+image.key" (load)="makeCanvasRect({'src':image.key,'boundedBox':image.value.bounding_box})" [src]="'https://s3.amazonaws.com/surveillance-cam/'+image.key"
        style="display: none" alt="Card image cap">
      <canvas [id]="'canvas-'+image.key" width="446" height="334"></canvas>
      <div class="card-body">
        <h5 class="card-title">27/06/2019</h5>
        <p class="card-text">Thursday 5:00pm</p>
        <p>Group: Family</p>
        <p class="card-text"><small class="text-muted">Tagged 27/06/2019</small></p>
      </div>
    </div>

    <!-- <h1>{{item.key}}</h1> -->
  </div>
</div>