<template #alertContainer></template>
<br>

<form (ngSubmit)="onFilterSearch()"  >
  
  <div class="d-inline-block col-xs-12 col-12 col-md-3 form-group">
    <label for="exampleInputEmail1">Person Name</label>
    <input type="text" [(ngModel)] = "filter.userName" name="tag" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Enter Person to search">
  </div>

  <div class="d-inline-block col-xs-12 col-12 col-md-3 form-group">
    <label>Select Start Date:</label>
    <input type="text" [(ngModel)] = "filter.fromDate" name="fromDate" [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY, h:mm:ss a'}" placeholder="Start Date" class="form-control" bsDatepicker>

  </div>

  <div class="d-inline-block col-xs-12 col-12 col-md-3 form-group">
    <label>Select End Date:</label>
    <input type="text" [(ngModel)] = "filter.toDate"  name="toDate" [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY, h:mm:ss a'}" placeholder="End Date" class="form-control" bsDatepicker>
  </div>
  
  <button type="submit" class="btn btn-primary">Filter</button>

  <button type="button" class="btn btn-primary ml-2" (click)="openImageUploadModal(imageModal)">Upload new face</button>

</form>

<ng-template #imageModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Upload New Face</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="imageModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onFaceUpload()" name="tagForm" >
        <input type="file"  name="file" required (change)="onFaceImageSelected($event)">
        <br><br>
        <label for="tahInput">Tag Name:</label>
        <input id="tahInput"  type="text"  name="text" required [(ngModel)]="imagetag.tag" >
        <br><br>
        <img [src]="imgURL" height="200" width="200" *ngIf="imgURL">
        <br><br>
        <button type="submit" class="btn btn-primary">Submit Tag</button>
    </form>
  </div>
</ng-template>

<div class="row">
  <div class="col-sm-4" *ngFor="let image of dashBoardImages">

    <div class="card">
      <img class="card-img-top" [id]="'image-'+image.s3_path" (load)="makeCanvasRect({'src':image.s3_path,'boundedBox':image.bounding_box})" [src]="'https://s3.amazonaws.com/surveillance-cam/'+image.s3_path"
        style="display: none" alt="Card image cap">
      <canvas [id]="'canvas-'+image.s3_path" ></canvas>
      <div class="card-body">
        <h5 class="card-title">{{image.timestamp*1000 | date:'h:mm:ss a, MMM d y'}}</h5>
        <p><span>Tagged Faces: </span>{{getFaces(image.bounding_box)}}</p>
        <p class="card-text"><small class="text-muted">Tagged 27/06/2019</small></p>
      </div>
    </div>
  </div>
</div>